{% extends "base/base.html" %}

{% block title %}Ajouter un Emploi du Temps{% endblock title %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Ajouter un Emploi du Temps pour la Classe {{ classe.nom }}</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form>
    <div class="mt-3">
        <a href="{% url 'show_emplois_du_temps' classe.id %}" class="btn btn-secondary">Retour aux emplois du temps</a>
    </div>
</div>
{% endblock content %}
