{% extends "base/base.html" %}
  
{% block title %}Emploi du Temps de {{ classe.nom }}{% endblock title %}
  
{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Emploi du Temps de {{ classe.nom }}</h2>
    
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Date de Début</th>
                    <th>Date de Fin</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                {% for emploi in emplois_du_temps %}
                <tr>
                    <td>{{ emploi.date_debut }}</td>
                    <td>{{ emploi.date_fin }}</td>
                    <td>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="document.getElementById('modalImage').src='{{ emploi.img.url }}'">
                            <img src="{{ emploi.img.url }}" alt="Emploi du temps" style="width: 100px; height: auto;">
                        </a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">Aucun emploi du temps disponible pour cette classe.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Modal pour afficher l'image de l'emploi du temps en grand format -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="imageModalLabel">Image de l'emploi du temps</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img id="modalImage" src="" alt="Emploi du temps" style="width: 100%; height: auto;">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
