{% extends "base/base.html" %}
  
{% block title %}Détails de l'Élève{% endblock title %}
  
{% block content %}
<div class="col-md-12">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="col-12">
                    <h3 class="text-center mb-4">Détails de l'Élève</h3>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <!-- Section for Student Information -->
                            <tr>
                                <td colspan="2" class="text-center">
                                    {% if eleve.photo_profil %}
                                        <img src="{{ eleve.photo_profil.url }}" class="mt-2 img-fluid rounded" style="max-width: 200px;">
                                    {% else %}
                                        <p>Pas de photo</p>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">ID</th>
                                <td>{{ eleve.id }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Nom</th>
                                <td>{{ eleve.nom }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Prénom</th>
                                <td>{{ eleve.prenom }}</td>
                            </tr>
                            <tr>
                                <th scope="row">CIN</th>
                                <td>{{ eleve.cin_eleve }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Sexe</th>
                                <td>{{ eleve.get_sexe_display }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Date de Naissance</th>
                                <td>{{ eleve.date_naissance|date:"d/m/Y" }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Lieu de Naissance</th>
                                <td>{{ eleve.lieu_naissance }}</td>
                            </tr>

                        <!-- Section for School Information -->
                            <tr>
                                <td colspan="2" class="text-center">
                                    <h4>Informations de l'école :</h4>
                                </td>
                            <tr>
                                <th scope="row">Date d'Admission</th>
                                <td>{{ eleve.date_admission|date:"d/m/Y" }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Classe</th>
                                <td>{{ eleve.classe }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Niveau Scolaire</th>
                                <td>{{ eleve.niveau_scolaire }}</td>
                            </tr>
                        <!-- Section for Parent Information -->
                        <tr>
                            <td colspan="2" class="text-center">
                                <h4>Informations du Parent :</h4>
                            </td>
                        <tr>
                            <tr>
                                <th scope="row">Nom du Parent</th>
                                <td>{{ eleve.nom_parent }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Prénom du Parent</th>
                                <td>{{ eleve.prenom_parent }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Date de Naissance du Parent</th>
                                <td>{{ eleve.date_naissance_parent|date:"d/m/Y" }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Lieu de Naissance du Parent</th>
                                <td>{{ eleve.lieu_naissance_parent }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Téléphone du Parent</th>
                                <td>{{ eleve.tel_parent }}</td>
                            </tr>

                <div class="text-center mt-4">
                    <a href="{% url 'edit_eleve' eleve.id %}" class="btn btn-primary mx-2">Éditer</a>
                    <a href="{% url 'destroy_eleve' eleve.id %}" class="btn btn-danger mx-2">Supprimer</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
