{% extends "base/base.html" %}
  
{% block title %}Ajouter une Classe{% endblock title %}
  
{% block content %}
<div class="container mt-4">
    <form method="POST" action="{% url 'add_classe' %}" enctype="multipart/form-data">    
        {% csrf_token %}
        <div class="row">
            <div class="col-12 mb-3">
                <h3>Entrez les détails de la classe</h3>
            </div>    

            <div class="mb-3">
                <label for="{{ form.nom.id_for_label }}">Nom:</label>
                {{ form.nom}}
            </div>

            <div class="mb-3">
                <label for="{{ form.annee_scolaire.id_for_label }}">Année Scolaire:</label>
                {{ form.annee_scolaire}}
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Ajouter Classe</button>
            </div>
        </div>
    </form>
</div>
{% endblock content %}
